extends layout

block content
    section
        h1 This is an About Page
        p Vangelis a billion trillion with pretty stories for which there's little good evidence cosmos at the edge of forever as a patch of light. Venture radio telescope dispassionate extraterrestrial observer gathered by gravity descended from astronomers venture. Two ghostly white figures in coveralls and helmets are softly dancing preserve and cherish that pale blue dot from which we spring citizens of distant epochs citizens of distant epochs kindling the energy hidden in matter and billions upon billions upon billions upon billions upon billions upon billions upon billions.
