extends layout

block content
    section
        h1 Welcome to a Simple Server 
        p Node.js is an open source Javascript runtime environment for easily building server-side and networking applications.
